<section id='contact' class='contact'>
  <div class='container mx-auto px-5'>

    <div class='my-28 flex flex-col gap-6 justify-center lg:flex-row lg:gap-32'>

      <div class='flex flex-col items-center'>
        <div class='w-[70px] lg:w-[130px]'>
          <img class='w-full' src='./img/Email.svg' alt='email' /></div>
        <p class='text-lg font-semibold text-black mt-4 mb-3'>Email Address</p>
        <p class='text-textLightGrey mb-1.5'>info@example.com</p>
        <p class='text-textLightGrey'>support@example.com</p>
      </div>

      <div class='flex flex-col items-center'>
        <div class='w-[70px] lg:w-[130px]'>
          <img class='w-full' src='./img/Phone.svg' alt='phone' />
        </div>
        <p class='text-lg font-semibold text-black mt-4 mb-3'>Phone Number</p>
        <p class='text-textLightGrey mb-1.5'>+88 (800) 123 4567</p>
        <p class='text-textLightGrey'>+99 094 5445 433</p>
      </div>

      <div class='flex flex-col items-center'>
        <div class='w-[70px] lg:w-[130px]'>
          <img class='w-full' src='./img/Location.svg' alt='address' />
        </div>
        <p class='text-lg font-semibold text-black mt-4 mb-3'>Our Address</p>
        <p class='text-textLightGrey mb-1.5'>82 12th Street, Office 14,</p>
        <p class='text-textLightGrey'>"Edinburgh, UK</p>
      </div>

    </div>
  </div>
</section>