<section class='get-started relative bg-darkBlue lg:bg-transparent lg:static overflow-hidden'>
  <div class='container mx-auto px-5'>
    <div
      class='lg:relative bg-darkBlue rounded lg:px-16 py-16 flex flex-col overflow-hidden lg:flex-row lg:justify-between lg:items-center'
    >

      <div class='text z-10'>
        <p class='text-textWhite text-sm font-semibold'>Find Your Next Dream App</p>
        <h2 class='text-textWhite text-4xl font-bold my-4'>Get started with <br />our free trial</h2>
      </div>

      <div class='flex flex-col gap-4 z-10 mt-2 md:flex-row md:gap-3'>
        <button
          class='text-textWhite text-sm font-semibold px-7 py-4 bg-greyOpacity rounded w-fit hover:bg-lightGrey'
          href='#'
          alt='pro version'
        >Get Pro Version</button>
        <button
          class='text-textWhite text-sm font-semibold px-7 py-4 bg-textBlue rounded w-fit hover:bg-lightBlue'
          href='#'
          alt='free trial'
        >Start Free Trial</button>
      </div>

      <img
        src='./img/elipseGetStarted1.svg'
        alt='elipse'
        class='absolute w-[346px] bottom-[150px] left-[-220px] md:bottom-[90px] md:left-[-180px]'
      />
      <img
        src='./img/elipseGetStarted2.svg'
        alt='elipse'
        class='hidden lg:block md:absolute md:w-[346px] md:top-[50px] md:right-[-100px]'
      />
    </div>
  </div>
</section>