<section id='about-us' class='why-choose-us overflow-hidden'>
  <div class='container mx-auto px-5'>
    <div class='my-20 flex flex-col items-center gap-12 lg:my-32 lg:flex-row lg:gap-24'>

      <div class='lg:w-1/2 grid grid-cols-2 gap-4 lg:gap-8'>
        <div class='row-start-1 row-end-3 col-start-1 col-end-2'>
          <img class='h-full object-cover rounded-lg' src='./img/MakeYourCustomersHappy1.png' alt='This is a picture' />
        </div>
        <div class='row-start-2 row-end-4 col-start-2 col-end-3 relative'>
          <img class='w-full object-cover z-20' src='./img/MakeYourCustomersHappy2.jpg' alt='This is a picture' />
          <div class='absolute -z-10 -right-[10%] -bottom-6'><img
              src='./img/Dotted_Shape.svg'
              alt='This is a picture'
            />
          </div>
        </div>
        <div class='row-start-3 row-end-5 col-start-1 col-end-2 rounded-sm'>
          <img class='h-full object-cover rounded-xl' src='./img/MakeYourCustomersHappy3.png' alt='This is a picture' />
        </div>
      </div>

      <div class='lg:w-1/2'>
        <p class='text-textBlue font-semibold text-lg'>Why choose Us</p>
        <h2 class='text-darkGrey font-bold text-4xl mt-2.5 mb-5 lg:mt-3 lg:mb-3'>Make Your Customers Happy By Giving
          Services</h2>
        <p class='text-textLightGrey text-base my-5 lg:my-7'>It is a long established fact that a reader will be
          distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is
          that it has a more-or-less.</p>
        <p class='text-textLightGrey text-base mb-10 lg:mb-12'>A domain name is one of the first steps to establishing
          your brand. Secure a consistent brand image with a domain name that matches your business.</p>
        <button
          class='text-textWhite font-medium text-xs py-[16px] px-[38px] bg-textBlue rounded-md hover:bg-lightBlue'
          href='#'
          alt='Get started'
        >Get Started</button>
      </div>

    </div>
  </div>
</section>