<footer>
  <div class='container mx-auto px-5'>
    <div class='mt-24 mb-72 md:relative flex flex-col gap-10 lg:flex-row lg:gap-2'>

      <div class='flex flex-col gap-5 lg:w-2/6 lg:pr-6'>
        <img class='w-4/12' src='./img/logo_positive.svg' alt='logo' />
        <p class='text-sm text-textLightGrey hover:text-textBlue w-9/12 lg:w-full'>Sed ut perspiciatis undmnis is iste
          natus error sit amet voluptatem totam rem aperiam.
        </p>
        <p class='text-sm text-darkGrey font-semibold flex'>
          <i class='icon icon-phone text-base bg-textBlue w-5 h-5'></i>
          &nbsp; +012 (345) 678 99</p>
      </div>

      <div class='flex flex-col gap-3 lg:w-1/6'>
        <p class='text-lg font-semibold text-darkerGrey mb-6'>Resources</p>
        <p class='text-sm text-textLightGrey hover:text-textBlue'>Saas Development</p>
        <p class='text-sm text-textLightGrey hover:text-textBlue'>Our Products</p>
        <p class='text-sm text-textLightGrey hover:text-textBlue'>Our Products</p>
        <p class='text-sm text-textLightGrey hover:text-textBlue'>User Strategy</p>
      </div>

      <div class='flex flex-col gap-3 lg:w-1/6'>
        <p class='text-lg font-semibold text-arkerGrey mb-6'>Company</p>
        <p class='text-sm text-textLightGrey hover:text-textBlue'>About Landio</p>
        <p class='text-sm text-textLightGrey hover:text-textBlue'>Contact &amp; Support</p>
        <p class='text-sm text-textLightGrey hover:text-textBlue'>Success History</p>
        <p class='text-sm text-textLightGrey hover:text-textBlue'>Setting &amp; Privacy</p>
      </div>

      <div class='flex flex-col gap-3 lg:w-1/6'>
        <p class='text-lg font-semibold text-darkerGrey mb-6'>Quick Links</p>
        <p class='text-sm text-textLightGrey hover:text-textBlue'>Premium Support</p>
        <p class='text-sm text-textLightGrey hover:text-textBlue'>Our Services</p>
        <p class='text-sm text-textLightGrey hover:text-textBlue'>Know Our Team</p>
        <p class='text-sm text-textLightGrey hover:text-textBlue'>Download App</p>
      </div>

      <div class='flex flex-col gap-3 lg:w-1/6'>
        <p class='text-lg font-semibold text-darkerGrey mb-6'>Follow Us On</p>
        <div class='icons'>
          <i class='icon icon-facebook text-base bg-textBlue w-6 h-6 cursor-pointer hover:bg-textLightGrey'></i>
          <i
            class='icon icon-twitter text-base bg-darkGrey text-icons w-6 h-6 cursor-pointer hover:bg-textLightGrey'
          ></i>
          <i class='icon icon-youtube text-base bg-darkGrey w-6 h-6 cursor-pointer hover:bg-textLightGrey'></i>
          <i class='icon icon-instagram text-base bg-darkGrey w-6 h-6 cursor-pointer hover:bg-textLightGrey'></i>

        </div>
        <p class='text-sm text-textLightGrey'>© <span class="footer-date">2024</span> TailGrids.</p>
      </div>

      <img
        src='./img/EllipseFooter.svg'
        alt='elipse'
        class='hidden md:block md:absolute md:bottom-[-150px] md:left-[-250px] md:h-[350px] md:w-[350px]'
      />

    </div>
  </div>
</footer>
<script src="js/scripts.js"></script>
</body>

</html>